<section>

  <h3>About Me</h3>

  <div class='face-lockup'>
      <div class='face-img'></div>

      <div class='icon-github'>{% include icons/icon-github.html %}</div>
      <div class= 'icon-linkedin'>{% include icons/icon-linkedin.html %}</div>
      <div class= 'icon-youtube'>{% include icons/icon-youtube.html %}</div>
      <div class= 'icon-resume'>{% include icons/icon-resume.html %}</div>

    </div>
    <p class = 'about-me-paragraph'><strong>I am an ambitious coder ready to tackle any problem that stackoverflow or leetcode might have.</strong> I am fluent in Python, Java and C#. I enjoy twiddling around with APIs such as Twitter, Youtube, and Facebook. I have worked on several projects ranging from an EscapeRoom in Virtual Reality to a Youtube sentiment analysis program
      that can help predict who will win an election.I am a life long student and have only one fear: being "kinda" good at anything I put my time into. When I set my mind to do something, I won't "kinda" get the results or "kinda" understand the matter; I will develop my skills until I reach a point that I can teach somebody else the subject matter.
      Reading something will let you learn something new. Rereading will allow you to memorize something new. Explaining something to another person will allow you to understand something new. Being a good student is synonymous with being a good teacher. </p>

    <div class = "skill-lockup">
      <div class="skill-unit">
        <div class="skill-label">Communication</div>
        <div class="skill-icons skill-9">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">Learning</div>
        <div class="skill-icons skill-11">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">Leadership</div>
        <div class="skill-icons skill-10">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">Planning / Organization</div>
        <div class="skill-icons skill-8">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">Programming</div>
        <div class="skill-icons skill-9">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>


      <div class="skill-unit">
        <div class="skill-label">UI/UX Design</div>
        <div class="skill-icons skill-10">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

    </div>

</section>
